body {
    text-align: center;
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 8px;
    color: #fff;
    background: #6e93f7;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  