@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff0088;
}
::selection{
  color: #fff;
  background: #bb0064;
}
.wrapper{
  width: 380px;
  padding: 40px 30px 50px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
}
.wrapper form{
  margin: 40px 0;
}

.wrapper input[type="button"]{
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #ff0088;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

@keyframes shake {
  0%, 100%{
    margin-left: 0px;
  }
  20%, 80%{
    margin-left: -12px;
  }
  40%, 60%{
    margin-left: 12px;
  }
}

.wrapper a{
  color: #ff0088;
  text-decoration: none;
}
.wrapper a:hover{
  text-decoration: underline;
}


#emoji {
    font-size: 25px;
  }
  




/*
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #ff6b6b;
}

form {
    margin-top: 50px;
}

input, button {
    margin-top: 10px;
}

#result {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}

 /*
 #quote {
    margin-top: 30px;
    font-size: 18px;
}
 */ 